{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}

{% block body %}
<div class="card center-card" style="box-shadow: lightgrey 1px 1px 10px 1px">
    <div class="card-body p-4">
        <h4>Politique de confidentialité RGPD</h4>

        <p>Cette Politique de confidentialité décrit la manière dont nous collectons, utilisons et partageons vos informations personnelles.</p>

        <h5>1. Collecte d'informations</h5>
        <p>Nous collectons des informations lorsque vous vous inscrivez ou connectez. </p>

        <h5>2. Utilisation des informations</h5>
        <p>Les informations que nous collectons sont utilisées seulement pour pouvoir vous identifier pour les cours et les prêts effectuer. </p>

        <h5>3. Partage des informations</h5>
        <p>Nous ne partageons pas vos informations.</p>

        <h5>4. Sécurité</h5>
        <p>Nous mettons en œuvre des mesures de sécurité pour protéger vos informations personnelles.</p>

        <h5>5. Vos droits</h5>
        <p>Vous avez le droit d'oublier, de modifications, de récuperation et de suppression de vos données personnelles.</p>

        <h5>6. Modifications de la politique de confidentialité</h5>
        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment.</p>

        <p>Nous vous encourageons à consulter régulièrement notre politique de confidentialité pour rester informé(e) sur la manière dont nous protégeons vos informations.</p>
    </div>
</div>
    <a href="/23JELMUSIC/public/"><button type="button" class="btn btn-primary m-1">Retour</button></a>
{% endblock %}
