{% extends 'base.html.twig' %}

{% block title %}Ajouter un prêt{% endblock %}
{% block body %}
        <div class="card">
            <h3 class="mb-2 card-title fw-semibold">Ajouter un prêt</h3>
            <div class="card-body">
            {# templates/etudiant/ajouter.html.twig #}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
                <a href="/23JELMUSIC/public/contratPret/lister"><button type="button" class="btn btn-primary m-1">Retour</button></a>

            </div>
       </div>
    </div>
{% endblock %}