
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/23JELMUSIC/public/design/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/23JELMUSIC/public/design/assets/css/styles.css" />
    <link rel="stylesheet" href="/23JELMUSIC/public/design/assets/css/styles2.css">
</head>

<body>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    <script src="/23JELMUSIC/public/design/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/23JELMUSIC/public/design/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/23JELMUSIC/public/design/assets/js/sidebarmenu.js"></script>
    <script src="/23JELMUSIC/public/design/assets/js/app.min.js"></script>
    <script src="/23JELMUSIC/public/design/assets/libs/simplebar/dist/simplebar.js"></script>
</body>
